[MASTER]
extension-pkg-whitelist=
    pyx2z
disable=
    duplicate-code,
    too-many-lines,
    too-many-locals,
    too-many-arguments,
    too-many-statements,
    broad-except,
    redefined-builtin
